
<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">

            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

            
                <div formGroupName="customer" class="form-area">
                    <h3>Klant</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Voornaam</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="firstName.errors.required || firstName.errors.notOnlyWhitespace">
                                        Voornaam is verplicht.
                                    </div>

                                    <div *ngIf="firstName.errors.minlength">
                                        Voornaam moet minstens 2 tekens bevatten.
                                    </div>

                                </div>   



                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Achternaam</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="lastName.errors.required || lastName.errors.notOnlyWhitespace">
                                        Achternaam is verplicht.
                                    </div>

                                    <div *ngIf="lastName.errors.minlength">
                                        Achternaam moet minstens 2 tekens bevatten.
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="text">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="email.errors.required">
                                        Email is verplicht.
                                    </div>

                                    <div *ngIf="email.errors.pattern">
                                        Email moet van de juiste formaat zijn.
                                    </div>

                                </div>

                            </div>
                            </div>
                        </div>
                    </div>


       
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Bezorgadres</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Land</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>België</option>
                                    <option>Nederland</option>
                                    <option>Luxemburg</option>
                                    <option>Frankrijk</option>
                                    <option>Duitsland</option>
                                    <option>Engeland</option>
                                </select>
                                <div *ngIf="shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCountry.errors.required">
                                        Land is verplicht.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Straat + huis nr</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">

                                <div *ngIf="shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressStreet.errors.required || shippingAddressStreet.errors.notOnlyWhitespace">
                                        Straat is verplicht.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Stad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressCity.errors.required || shippingAddressCity.errors.notOnlyWhitespace">
                                        Stad is verplicht.
                                    </div>

                                    <div *ngIf="shippingAddressCity.errors.minlength">
                                        Stadnaam moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postcode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="postalCode" type="text">
                                <div *ngIf="shippingAddressPostalCode.invalid && (shippingAddressPostalCode.dirty || shippingAddressPostalCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="shippingAddressPostalCode.errors.required || shippingAddressPostalCode.errors.notOnlyWhitespace">
                                        Postcode is verplicht.
                                    </div>

                                    <div *ngIf="shippingAddressPostalCode.errors.minlength">
                                        Postcode moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                        <span class="au-checkmark"></span>Facturatie adres zelfde als bezorgadres
                    </label>
                </div>


             
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Facturatie adres</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Land</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>België</option>
                                    <option>Nederland</option>
                                    <option>Luxemburg</option>
                                    <option>Frankrijk</option>
                                    <option>Duitsland</option>
                                    <option>Engeland</option>
                                </select>
                                <div *ngIf="billingAddressCountry.invalid && (billingAddressCountry.dirty || billingAddressCountry.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCountry.errors.required">
                                        Land is verplicht.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Straat + huis nr</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                                <div *ngIf="billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressStreet.errors.required || billingAddressStreet.errors.notOnlyWhitespace">
                                        Straat is verplicht.
                                    </div>
                                    <div *ngIf="billingAddressStreet.errors.minlength">
                                        Straatnaam moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Stad</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                                <div *ngIf="billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressCity.errors.required || billingAddressCity.errors.notOnlyWhitespace">
                                        Stad is verplicht.
                                    </div>

                                    <div *ngIf="billingAddressCity.errors.minlength">
                                        Stadnaam moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postcode</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="postalCode" type="text">
                                <div *ngIf="billingAddressPostalCode.invalid && (billingAddressPostalCode.dirty || billingAddressPostalCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="billingAddressPostalCode.errors.required || billingAddressPostalCode.errors.notOnlyWhitespace">
                                        Postcode is verplicht.
                                    </div>

                                    <div *ngIf="billingAddressPostalCode.errors.minlength">
                                        Postcode moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

           
                <div formGroupName="creditCard" class="form-area">
                    <h3>Betaalkaart</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Kaart type</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                                <div *ngIf="creditCardType.invalid && (creditCardType.dirty || creditCardType.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardType.errors.required">
                                        Kredietkaart type is verplicht.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Naam kaarthouder</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text">
                                <div *ngIf="creditCardName.invalid && (creditCardName.dirty || creditCardName.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardName.errors.required || billingAddressPostalCode.errors.notOnlyWhitespace">
                                        Naam kaarthouder is verplicht.
                                    </div>

                                    <div *ngIf="creditCardName.errors.minlength">
                                        Naam kaarthouder moet minstens 2 tekens bevatten.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Kaartnummer</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                                <div *ngIf="creditCardNumber.invalid && (creditCardNumber.dirty || creditCardNumber.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardNumber.errors.required">
                                        Kaartnummer is verplicht.
                                    </div>

                                    <div *ngIf="creditCardNumber.errors.pattern">
                                        Kaartnummer moet 16 tekens lang zijn.
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>CVC code</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">


                                <div *ngIf="creditCardCode.invalid && (creditCardCode.dirty || creditCardCode.touched)" class="alert alert-danger mt-1">

                                    <div *ngIf="creditCardCode.errors.required">
                                        CVC code is verplicht.
                                    </div>

                                    <div *ngIf="creditCardCode.errors.pattern">
                                        CVC code moet 3 tekens lang zijn.
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Verval maand</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option *ngFor="let month of creditCardMonths">
                                        {{ month }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Verval jaar</label></div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                                    <option *ngFor="let year of creditCardYears">
                                        {{ year }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Order details -->
                <div class="form-area">
                    <h3>Samenvatting van jouw bestelling</h3>

                    <p>Totaal hoeveelheid: {{ totalQuantity }}</p>
                    <p>Verzendkosten: GRATIS</p>
                    <p>Totaal prijs: {{ totalPrice | currency: 'EUR' }}</p>
                </div>

                <!-- submit button-->
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Kopen</button>
                </div>

            </form>

        </div>
    </div>
</div>
