<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div *ngIf="cartItems.length > 0">
            <table class="table table-bordered">
                <tr>
                    <th width="20%">Product afbeelding</th>
                    <th width="50%">Product informatie</th>
                    <th width="30%"></th>
                </tr>

                <tr *ngFor="let tempCartItem of cartItems">
                    <td>
                        <img src="{{ tempCartItem.imageUrl }}" class="img-responsive" width="150px" />
                    </td>
                    <td>
                        <p>{{ tempCartItem.name }}</p>
                        <p>{{ tempCartItem.price | currency: 'EUR' }}</p>
                    </td>
                    <td>
                        <div class="items">
                            <label>Hoeveelheid:</label>
                            <div class="row no-gutters">
                                <div class="col">
                                    <button (click)="incrementQty(tempCartItem)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col ml-4 mr-2">
                                    {{tempCartItem.quantity}}
                                </div>
                                <div class="col">
                                    <button (click)="decrementQty(tempCartItem)" class="btn btn-primary btn-sm">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </div>  
                        <button (click)="remove(tempCartItem)"class="btn btn-primary btn-sm mt-2">Remove</button>

                        <p class="mt-2">Subtotaal: {{ tempCartItem.quantity * tempCartItem.price | currency: 'USD' }}</p>
                    </td>
                </tr>

                <tr>
                    <td colspan="2"></td>
                    <td style="font-weight: bold">
                        <p>Totaal aantal: {{ totalQuantity }}</p>
                        <p>Verzending: GRATIS</p>
                        <p>Totaal prijs: {{ totalPrice | currency: 'EUR' }}</p>
                        <a routerLink="/checkout" class="btn btn-primary btn-sm">Naar de kassa</a>
                    </td>
                </tr>

            </table>
        </div>
        <div *ngIf="cartItems.length == 0" role="alert" class="alert alert-warning">
            Jouw winkelmand is leeg.

        </div>

        </div>
    </div>
</div>
